:root {
    --background-color: #fcfcfc;
    --sec-bg-color: #3b1d23;
    --text-color: #75555b;
    --sec-text-color: #2f3e46;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inconsolata", sans-serif;
}

/* Footer Container */
.footer-container {
 background: var(--sec-bg-color);
 color: var(--background-color);
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding: 50px;
  width: 100%;        
  margin: 0 auto;    
  max-width: 1400px; 
}

.footer-left {
    flex: 1 1 350px;
}

.footer-right {
    flex: 2 1 600px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

/* Logo & Description */
.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.footer-logo img {
    height: auto;
}

.footer-title {
    font-family: 'Merriweather', serif;
    font-size: 30px;
    margin: 0;
}

.footer-para {
    font-size: 16px;
    margin-bottom: 25px;
}

/* Newsletter */
#newsletter {
    margin-bottom: 16px;
}

.footer-mail-area {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.footer-mail-area input {
    flex: 1;
    padding: 12px 15px;
    border-radius: 12px;
    border: 1px solid var(--text-color);
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--background-color);
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
}

.footer-mail-area input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.footer-mail-area input:focus {
    border-color: var(--text-color);
    background-color: rgba(255, 255, 255, 0.15);
}

.footer-mail-area button {
    background: var(--sec-bg-color);
    border: 1px solid var(--text-color);
    border-radius: 12px;
    padding: 0 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.footer-mail-area button i {
    color: var(--background-color);
    font-size: 16px;

}

.footer-mail-area button:hover {
    background-color: rgba(252, 252, 252, 0.2);
    border: 1px solid var(--text-color);
}

/* Contact Section */
.footer-contact-section {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    gap: 12px;
}

.contact-icon {
    color: var(--text-color);
}

.contact-info {
    line-height: 1.5;
    font-size: 16px;
}

/* Footer Right Links */

.footer-right ul {
    list-style: none;
}

.footer-right h4 {
    font-family: 'Merriweather', serif;
    font-size: 18px;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.footer-right a {
    text-decoration: none;
    color: var(--background-color);
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    transition: 0.3s;
    line-height: 2.5rem;
}

.footer-right a:hover {
    color: var(--text-color);

}

/* Socials */
.footer-socials {
 background: var(--sec-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;         
  border-top: 1px solid rgba(255,255,255,0.2);
  width: 100%;             
  margin: 0 auto;  
  flex-wrap: wrap;
  gap: 15px;
}

.social-icons li {
    list-style: none;
}

.footer-socials .social-icons {
    display: flex;
    gap: 12px;
}

.footer-socials a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    transition: 0.3s;
}

.footer-socials a:hover {
    background-color: var(--text-color);
    color: var(--background-color);
    transform: translateY(-4px);
}

.footer-socials p{
    color: var(--background-color);
}

/* Responsive */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
    }

    .footer-right {
        flex-direction: column;
        gap: 20px;
    }

    .footer-mail-area {
        flex-direction: column;
    }

    .footer-mail-area button {
        width: 100%;
    }
}